{% extends 'base.html.twig' %}

{% block title %}Listes
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('/css/chambre/chambre.css') }}">
<h1>Listes</h1>

	<div class="chambres">
		{% for chambre in chambres %}
			<div class="chambre">
				<p>Chambre numero
					{{chambre.id}}</p>
				<p>Superficie:
					{{chambre.Superficie}}m²</p>
				<p>Tarif:
					{{chambre.tarif}}€</p>
				<a class="info" href="{{path('app_chambre_show', {'id': chambre.id})}}">En savoir +</a>
			</div>
		{% endfor %}
	</div>
	<div class="back" >
	<a href="{{ path('app_chambre_category') }}">Retour à la liste</a>
	</div>
{% endblock %}