<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Facture</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/PDF.css') }}">
</head>
<body>
    <div style="margin: 0 auto;display: flex;width: 500px;">
        <table>
            <tr>
                <td colspan="2">
                    <img src="{{imageSrc}}" style="width:200px;"> 
                </td>
            </tr>
            </br>
            <h1>Confirmation de paiement</h1>
    
            <p>Merci pour votre paiement. Voici les détails de votre réservation :</p>
            </br>
            <tr>
                <td colspan="2">
                    <h2>Réservation numéro: {{nbReservation}}</h1>
                </td>
            </tr>
            
            <tr>
                <td>Nom:</td>
                <td>{{nom}}</td>
            </tr>
            <tr>
                <td>Prénom</td>
                <td>{{prenom}}</td>
            </tr>
            <tr>
                <td>Adresse:</td>
                <td>{{adresse}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{email}}</td>
            </tr>
            <tr>
                <td>Numéro de chambre:</td>
                <td>{{chambre}}</td>
            </tr>
            <tr>
                <td>Prix de la chambre:</td>
                <td>{{prixChambre}} €</td>
            </tr>
            <tr>
                <td>Prix total:</td>
                <td>{{prixTotal}} €</td>
            </tr>
            <tr>
                <td>Nombre de personnes:</td>
                <td>{{nbPersonne}}</td>
            </tr>
            <tr>
                <td>Début du séjour:</td>
                <td>{{dateEntree}}</td>
            </tr>
            <tr>
                <td>Fin de séjour:</td>
                <td>{{dateSortie}}</td>
            </tr>
            <tr>
                <td>Durée du séjour:</td>
                <td>{{dureeSejour}}</td>
            </tr>
        </table>
    </div>
    <style>
    body {
            display: flex;
         
            font-family: Verdana, sans-serif; /* Changer la police ici */
            text-align:center;
            align-items:center;
        }
    img{
        padding-left:145px;
    }
    </style>
</body>
</html>