{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}


{% block body %}
<link rel="stylesheet" href="{{ asset('assets/toggle.css') }}">
<link rel="stylesheet" href="{{ asset('css/reservation.css') }}">


	<h1 class="h1">Réservez</h1>

    <div class="reservation-form">
        {{ form_start(form) }}
		<div class="booked">
        <div class="form-group">
            {{ form_label(form.arrivee) }}
            {{ form_widget(form.arrivee, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.depart) }}
            {{ form_widget(form.depart, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {# {{ form_label(form.nbPersonne) }} #}
            {{ form_widget(form.nbPersonne, {'attr': {'class': 'form-control'}}) }}
        </div>
		</div>
        <div class="option">
            <h3>Options</h3>
            <div class="option2">{{ form_row(form.option, {'label': 'Vue sur mer :'}) }}</div>
            <div class="option2">{{ form_row(form.option2, {'label': 'Chaînes à la carte :'}) }}</div>
            <div class="option2">{{ form_row(form.option3, {'label': 'Climatisation :'}) }}</div>
            <div class="option2">{{ form_row(form.option4, {'label': 'Télévision à écran plat :'}) }}</div>
            <div class="option2">{{ form_row(form.option5, {'label': 'Téléphone :'}) }}</div>
            <div class="option2">{{ form_row(form.option6, {'label': 'Chaînes satellite :'}) }}</div>
            <div class="option2">{{ form_row(form.option7, {'label': 'Chaînes du câble :'}) }}</div>
            <div class="option2">{{ form_row(form.option8, {'label': 'Coffre fort :'}) }}</div>
            <div class="option2">{{ form_row(form.option9, {'label': 'Wi-Fi Gratuit :'}) }}</div>
            <div class="option2">{{ form_row(form.option10, {'label': 'Matériel de repassage :'}) }}</div>
        </div>


        <button type="submit" class="btn-primary">Rechercher</button>
        {{ form_end(form) }}
                {% if error %}
            <div class="">
            <p>
                {{ error }}
            </p>
            {# <a href="{{path('app_chambre_category')}}">Voir la liste des chambres</a> #}
            </div>
        {% endif %}
    </div>


{% endblock %}