{% extends 'base.html.twig' %}

{% block title %}Reserver index
{% endblock %}

{% block body %}
<div class="formu">
	<h1>Reserver index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>DateEntree</th>
				<th>DateSortie</th>
				<th>Prix</th>
				<th>Validite</th>
				<th>NbPersonne</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for reserver in reservers %}
				<tr>
					<td>{{ reserver.id }}</td>
					<td>{{ reserver.dateEntree ? reserver.dateEntree|date('d-m-Y') : '' }}</td>
					<td>{{ reserver.dateSortie ? reserver.dateSortie|date('d-m-Y') : '' }}</td>
					<td>{{ reserver.prix }}</td>
					<td>{{ reserver.validite }}</td>
					<td>{{ reserver.nbPersonne }}</td>
					<td>
						<a class="pomme" href="{{ path('app_admin_reservation_show', {'id': reserver.id}) }}">Voir</a>
						<a class="pomme" href="{{ path('app_admin_reservation_edit', {'id': reserver.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
	<div class="banane">
	<div class="poire"><a href="{{ path('app_admin_reservation_new') }}">Créer</a></div>
	<br/>
	<div class="poire"><a href={{path('app_admin')}}>Retour</a></div>
	<div class="espace"></div>
</div>
	

	<style>
.formu{
    display:flex;
    flex-direction:column;
	background-color: rgba(180, 180, 180, 0.8);
	margin-left:400px;
    margin-right:400px;     
    text-align: center;
	border-radius:10px;
	padding-bottom:25px;
	border:goldenrod solid;
	font-family:verdana;
    margin-top:100px;
 
}

body{
    background-image: url('/images/facade.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; 
}

.spacer {
    margin-left:50px;
    margin-right:50px;
    height: 1px;
    background-color:grey;
}

table {
    border-collapse: collapse; /* Pour fusionner les bordures de cellules */
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc; /* Ajoute une bordure inférieure de 1 pixel avec une couleur grise */
}

.pomme{
	color:#183456;
}
.poire a {
	text-decoration: none;
    color: white;
}
.poire {
	text-decoration: none;
    display: flex;
    flex-direction: row;
	justify-content:center;
    background-color: #183456;
    color: white;
    width: 80px;
    height: 40px; /* Ajustez la hauteur souhaitée */
    border: solid goldenrod;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.1s;
    font-family: verdana;
    font-size: 14px;
    margin: 10px auto; /* Centre horizontalement le bouton */
    align-items: center; /* Centre verticalement le contenu */
    justify-content: center; /* Centre horizontalement le contenu */
    text-align: center; /* Centre le texte horizontalement */
    padding: 0; /* Supprime les paddings */
}

.espace{
	margin-bottom:200px;
}
	</style>

{% endblock %}
