{% extends 'base.html.twig' %}

{% block title %}Confirmation
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/confirmation.css') }}">

	<h1 class="melon">Confirmation</h1>

	{% if edit %}
	<div class="raisin">
		<p class="pomelo">Confirmation
			{{ user.prenom }}
			d'avoir modifier votre reservation pour la chambre numero
			{{ chambre }}
			au prix de
			{{ price }}€
			<br/>
			pour un sejour du
			{{ dateEntree }}
			au
			{{ dateSortie }}</p>
	</div>
	{% else %}
	<div class="raisin">
		<p>Merci
			{{ user.prenom }}
			d'avoir reserver la chambre numero
			{{ chambre }}
			au prix de
			{{ price }}€
			<br/>
			pour un sejour du
			{{ dateEntree }}
			au
			{{ dateSortie }}</p>
	</div>
	{% endif %}
	<div class="banane">
	<a class="poire" href="{{ path('app_home') }}">Retournez a l'accueil</a>
	<a class="poire" href="{{ path('app_pdf_generator') }}" target="_blank">Télécharger votre facture</a>
	</div>
	<div class="coconut"></div>
{% endblock %}
