{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="menu">
    <h1 class="h3 mb-3 font-weight-normal">Connectez vous s'il vous plaît</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn" type="submit">
        Connexion
    </button>
    Ou
    </br>
    Connecter vous avec Google
    <a class="google" href="{{path('connect_google')}}"><img  src="{{ asset('images/Google.svg.png') }}" alt="Logo"/></a>
    </div>
</form>
<style>

.menu{
    display:flex;
    flex-direction:column;
	background-color: rgba(217, 217, 217, 0.8);
	margin-left:400px;
    margin-right:400px;     
    text-align: center;
	border-radius:10px;
	padding-bottom:25px;
	border:goldenrod solid;
	font-family:verdana;
    margin-top:100px;
    margin-bottom:200px;
}

.menu input{
    width:200px;
    height: 20px;
    margin-left:210px;
    margin-right:210px;
    margin-top:10px;
    margin-bottom:10px;
    border: goldenrod solid;
    border-radius:5px;
    font-size:15px;
    margin: 10px auto;

}

.google{
    padding-left:20px;
}

h1{
    font-family:Italianno-Regular;
    font-size:50px;
    color:goldenrod;
}

body{
    background-image: url('images/piscine.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.btn{
    width:200px;
    height: 40px;
    margin-left:215px;
    margin-top:20px;
    background-color:#183456;
	color: white;
	border:solid goldenrod;
	border-radius:10px;
	margin-bottom:15px;
	transition: background-color 0.2s, color 0.1s;
	font-family:verdana;
	font-size:14px;
    margin:10px auto;
}

.btn:hover {
  background-color: #2980b9;
}
</style>
{% endblock %}