{% extends 'base.html.twig' %}

{% block title %}Chambre index
{% endblock %}

{% block body %}
<div class="formu">
	<h1>Chambre index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Superficie</th>
				<th>ChaineALaCarte</th>
				<th>Tarif</th>
				<th>VueSurMer</th>
				<th>Climatisation</th>
				<th>TelevisionEcranPlat</th>
				<th>Telephone</th>
				<th>ChaineSatellite</th>
				<th>ChaineDuCable</th>
				<th>CoffreFort</th>
				<th>MaterielDeRepassage</th>
				<th>WifiGratuit</th>
				<th>Type:</th>
			</tr>
		</thead>
		<tbody>
			{% for chambre in chambres %}
				<tr>
					<td>{{ chambre.id }}</td>
					<td>{{ chambre.Superficie }}</td>
					<td>{{ chambre.ChaineALaCarte }}</td>
					<td>{{ chambre.Tarif }}</td>
					<td>{{ chambre.VueSurMer }}</td>
					<td>{{ chambre.Climatisation }}</td>
					<td>{{ chambre.TelevisionEcranPlat }}</td>
					<td>{{ chambre.Telephone }}</td>
					<td>{{ chambre.ChaineSatellite }}</td>
					<td>{{ chambre.ChaineDuCable }}</td>
					<td>{{ chambre.CoffreFort }}</td>
					<td>{{ chambre.MaterielDeRepassage }}</td>
					<td>{{ chambre.WifiGratuit }}</td>
					<td>{{ chambre.Type }}</td>
					<td>
						<div class="ananas">
						<a class="pomme" href="{{ path('app_admin_chambre_show', {'id': chambre.id}) }}">Voir</a>
						</br>
						<a class="pomme" href="{{ path('app_admin_chambre_edit', {'id': chambre.id}) }}">Modifier</a>
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="17">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<hr/>
	{{ form_start(form) }}
	{{ form_end(form) }}
	<hr/>

	<div class="banane">
	<a class="poire" href="{{ path('app_admin_chambre_new') }}">Créer nouveau</a>
	<br/>
	<a class="poire" href={{path('app_admin')}}>Retour</a>
	</div>
</div>
<style>
.formu{
    display:flex;
    flex-direction:column;
	background-color: rgba(180, 180, 180, 0.8);
	font-size:15px;
	margin-left:400px;
    margin-right:400px;     
    text-align: center;
	border-radius:10px;
	padding-bottom:25px;
	border:goldenrod solid;
	font-family:verdana; 
	margin: 50px auto;
}

body{
    background-image: url('/images/facade.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; 
}

.spacer {
    margin-left:50px;
    margin-right:50px;
    height: 1px;
    background-color:grey;
}

table {
    border-collapse: collapse; /* Pour fusionner les bordures de cellules */
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc; /* Ajoute une bordure inférieure de 1 pixel avec une couleur grise */
}

.pomme{
	color:#183456;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Empêche le texte de se retourner */
}

/* Réduire l'espacement vertical entre les lignes du tableau */
.table tbody tr {
    margin-bottom: 8px;
}

/* Réduire l'espacement horizontal entre les cellules du tableau */
.table th, .table td {
    padding-right: 5px;
    padding-left: 5px;
}

/* Ajouter une barre de défilement horizontal sur les petits écrans */
@media (max-width: 768px) {
    .table {
        overflow-x: auto;
    }
}

#form_choix{
    width: 130px; /* Définissez la largeur souhaitée */
    padding: 10px; /* Ajoutez un espacement interne pour une meilleure apparence */
    border: 3px goldenrod solid; /* Ajoutez une bordure */
    border-radius: 5px; /* Ajoutez des coins arrondis */
    font-size: 16px; /* Définissez la taille de la police */
    background-color:#183456;
    color: white;
}

#form_submit{
	background-color:#183456;
	color: white;
	border:solid goldenrod;
	width:100px;
	height: 50px;
	border-radius:10px;
	transition: background-color 0.2s, color 0.1s;
	font-family:verdana;
	font-size:14px;
	margin-top:15px;
}

.poire {
    display: flex;
    flex-direction: row;
	justify-content:center;
    background-color: #183456;
    color: white;
    width: 80px;
    height: 40px; /* Ajustez la hauteur souhaitée */
    border: solid goldenrod;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.1s;
    font-family: verdana;
    font-size: 14px;
    margin: 10px auto; /* Centre horizontalement le bouton */
    align-items: center; /* Centre verticalement le contenu */
    justify-content: center; /* Centre horizontalement le contenu */
    text-align: center; /* Centre le texte horizontalement */
    padding: 0; /* Supprime les paddings */
}

</style>
{% endblock %}
